<div class="header">
  <div class="header-top">
    <div class="container">
      <div class="header-left">
        <div class="header-logo">
          <img src="../assets/Frame.svg" alt="logo">
        </div>
        <nav class="header-nav">
          <ul>
            <li class="header-nav-item">
              <a href="#">{{headerItem1}}</a>
            </li>
            <li class="header-nav-item">
              <a href="#">{{aboutCompany}}</a>
            </li>
            <li class="header-nav-item">
              <a href="#" *ngIf="isShowCatalog">{{headerItem3}}</a>
            </li>
            <button (click)="isShowCatalog = !isShowCatalog">Скрыть каталог</button>
            <button (click)="changeMenuText()">Изменить текст</button>
          </ul>
        </nav>
      </div>
  
      <div class="header-right">
        <div class="call">
          <img src="../assets/Phone.svg" alt="call">
          <div class="call-number">+7 (965) 084-29-29</div>
        </div>
        <div class="heart">
          <img class="heart-img" src="../assets/heart1.svg" alt="???">
        </div>
        <button class="cart-button">
          <img class="cart-img" src="../assets/cart.svg" alt="cart">
          Пусто
        </button>
      </div>
    </div>
  </div>

  <div class="header-bottom">
    <div class="container">
      <div class="header-bottom-left">
        <div class="header-bottom-nav">
          <ul>
            <div class="menu-img">
              <img src="../assets/light.svg" alt="menu">
            </div>
            <li *ngFor="let item of menuItems" class="header-bottom-nav-item">
              <a href="#">{{item}}</a>
            </li>
            
          </ul>
        </div>
      </div>
    
      <div class="header-bottom-right">
        <div class="search-block">
          <input placeholder="Поиск, например Круг зачистной" type="text" class="search-input" name="search">
        </div>
        <div class="address">
          <img src="../assets/map-moscow.svg" alt="Moscow">
          Москва
        </div>
      </div>
    </div>
  </div>
</div>

<button (click)="isShowBanner = !isShowBanner">Скрыть/Показать баннер</button>
<div class="banner" *ngIf="isShowBanner">
  <div class="banner-text">Инструмент для вашего бизнеса</div>
</div>

<div class="advantages-container">
  <div class="container">
    <div class="advantage">
      <img class="advantage-img" src="../assets/Mask group.svg" alt="adv-1">
      <div class="advantage-text">
        <span>Большой ассортимент</span> строительных материалов всегда в наличии
      </div>
    </div>
    <div class="advantage">
      <img class="advantage-img" src="../assets/Mask group-1.svg" alt="adv-2">
      <div class="advantage-text">
        <span>Доставка стройматериалов</span> в течении четырех часов или в любое удобное время
      </div>
    </div>
    <div class="advantage">
      <img class="advantage-img" src="../assets/Mask group-2.svg" alt="adv-3">
      <div class="advantage-text">
        Многоуровневая <span>система управления качеством</span> по стандарту ISO 9001
      </div>
    </div>
  </div>
</div>

<div class="item-cards">
  <div class="container">
    <div class="item-cards__pagination">
      <button [ngClass]="{'active-button': isClickedPaginationBtn}" (click)="changeColorPaginationBtn()" *ngFor="let page of newPages" class="item-cards__pagination-btn">{{page}}</button>
    </div>
  
    <div class="item-cards__grid">
      <div class="item-cards__grid-left">
        <div class="item-cards__grid-left-title">Строительный отделочный инструмент</div>
        <a class="item-cards__grid-left-link" href="#">
          Перейти в каталог
          <div>
            <img src="../assets/Arrow-6.svg" alt="arrow">
          </div>
        </a>
      </div>
      <div class="item-cards__grid-right">
        <div class="item-cards__grid-right-block block-1">
          <div class="block-1-title">Эмали</div>
          <img class="block-1-img" src="../assets/item-cards-2.png" alt="emali">
          <a class="block-1-link" href="#">
            Перейти в каталог
            <div>
              <img src="../assets/Arrow-6.svg" alt="arrow">
            </div>
          </a>
        </div>
        <div class="item-cards__grid-right-block block-2">
          <div class="block-2-title">Лакокрасочные<br>материалы</div>
          <img class="block-2-img" src="../assets/item-cards-3.png" alt="kraski">
          <a class="block-2-link" href="#">
            Перейти в каталог
            <div>
              <img src="../assets/Arrow-6.svg" alt="arrow">
            </div>
          </a>
        </div>
        <div class="item-cards__grid-right-block block-3">
          <div class="block-3-title">Пены, клеи и<br> герметики</div>
          <img class="block-3-img" src="../assets/item-cards-4.png" alt="glue">
          <a class="block-3-link" href="#">
            Перейти в каталог
            <div>
              <img src="../assets/Arrow-6.svg" alt="arrow">
            </div>
          </a>
        </div>
        <div class="item-cards__grid-right-block block-4">
          <div class="block-4-title">Розетки и выключатели</div>
          <img class="block-4-img" src="../assets/item-cards-5.png" alt="rozetka">
          <a class="block-4-link" href="#">
            Перейти в каталог
            <div>
              <img src="../assets/Arrow-6.svg" alt="arrow">
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="scroll-cards">
  <div class="container">
    <div class="scroll-cards__title">
      <div class="scroll-cards__title-text">Популярные товары</div>
      <a href="#" class="scroll-cards__title-link">Посмотреть все товары</a>
    </div>

    <div class="scroll-cards__wrapper">
      <div class="scroll-cards__wrapper-card">
        <div class="scroll-cards__wrapper-card-percent">%</div>
        <img class="scroll-cards__wrapper-card-disc-img" src="../assets/disc-image.png" alt="disc">
        <img class="scroll-cards__wrapper-card-heart-img" src="../assets/Vector.svg" alt="heart">
        <div class="scroll-cards__wrapper-card-product">Круг зачистной 125х6х22</div>
        <div class="scroll-cards__wrapper-card-articul">Артикул 00004</div>
        <div class="scroll-cards__wrapper-card-price-title">Цена за штуку</div>
        <div class="scroll-cards__wrapper-card-price">
          <span class="old-price">52 руб.</span>
          <span class="new-price">48 руб.</span>
        </div>
        <div class="scroll-cards__wrapper-card-cart-wrapper">
          <div class="scroll-cards__wrapper-card-cart-wrapper-quantity-block">
            <div class="quantity">Количество</div>
            <span class="minus-button">-</span>
            <span class="quantity-number">1</span>
            <span class="plus-button">+</span>
          </div>
          <button class="scroll-cards__wrapper-card-cart-wrapper-cart-btn">В корзину</button>
        </div>
      </div>
      <div class="scroll-cards__wrapper-card">
        <div class="scroll-cards__wrapper-card-percent">%</div>
        <img class="scroll-cards__wrapper-card-disc-img" src="../assets/disc-image.png" alt="disc">
        <img class="scroll-cards__wrapper-card-heart-img" src="../assets/Vector.svg" alt="heart">
        <div class="scroll-cards__wrapper-card-product">Круг зачистной 125х6х22</div>
        <div class="scroll-cards__wrapper-card-articul">Артикул 00004</div>
        <div class="scroll-cards__wrapper-card-price-title">Цена за штуку</div>
        <div class="scroll-cards__wrapper-card-price">
          <span class="old-price">52 руб.</span>
          <span class="new-price">48 руб.</span>
        </div>
        <div class="scroll-cards__wrapper-card-cart-wrapper">
          <div class="scroll-cards__wrapper-card-cart-wrapper-quantity-block">
            <div class="quantity">Количество</div>
            <span class="minus-button">-</span>
            <span class="quantity-number">1</span>
            <span class="plus-button">+</span>
          </div>
          <button class="scroll-cards__wrapper-card-cart-wrapper-cart-btn">В корзину</button>
        </div>
      </div>
      <div class="scroll-cards__wrapper-card">
        <div class="scroll-cards__wrapper-card-new">Новинка</div>
        <div class="scroll-cards__wrapper-card-percent-alternative">%</div>
        <img class="scroll-cards__wrapper-card-disc-img" src="../assets/disc-image.png" alt="disc">
        <img class="scroll-cards__wrapper-card-heart-img" src="../assets/Vector.svg" alt="heart">
        <div class="scroll-cards__wrapper-card-product">Круг зачистной 125х6х22</div>
        <div class="scroll-cards__wrapper-card-articul">Артикул 00004</div>
        <div class="scroll-cards__wrapper-card-price-title">Цена за штуку</div>
        <div class="scroll-cards__wrapper-card-price">
          <span class="old-price">52 руб.</span>
          <span class="new-price">48 руб.</span>
        </div>
        <div class="scroll-cards__wrapper-card-cart-wrapper">
          <div class="scroll-cards__wrapper-card-cart-wrapper-quantity-block">
            <div class="quantity">Количество</div>
            <span class="minus-button">-</span>
            <span class="quantity-number">1</span>
            <span class="plus-button">+</span>
          </div>
          <button class="scroll-cards__wrapper-card-cart-wrapper-cart-btn">В корзину</button>
        </div>
      </div>
      <div class="scroll-cards__wrapper-card">
        <div class="scroll-cards__wrapper-card-new">Новинка</div>
        <img class="scroll-cards__wrapper-card-disc-img" src="../assets/disc-image.png" alt="disc">
        <img class="scroll-cards__wrapper-card-heart-img" src="../assets/Vector.svg" alt="heart">
        <div class="scroll-cards__wrapper-card-product">Круг зачистной 125х6х22</div>
        <div class="scroll-cards__wrapper-card-articul">Артикул 00004</div>
        <div class="scroll-cards__wrapper-card-price-title">Цена за штуку</div>
        <div class="scroll-cards__wrapper-card-price">
          <span class="new-price">52 руб.</span>
        </div>
        <div class="scroll-cards__wrapper-card-cart-wrapper">
          <div class="scroll-cards__wrapper-card-cart-wrapper-quantity-block">
            <div class="quantity">Количество</div>
            <span class="minus-button">-</span>
            <span class="quantity-number">1</span>
            <span class="plus-button">+</span>
          </div>
          <button class="scroll-cards__wrapper-card-cart-wrapper-cart-btn">В корзину</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner-catalog">
  <div class="container">
    <div class="banner-catalog__wrapper">
      <div>
        <div class="banner-catalog__wrapper-title">Более 10 000 наименований</div>
        <div class="banner-catalog__wrapper-text">Инструмент для вашего бизнеса, разнообразных марок</div>
      </div>
      <a href="#" class="banner-catalog__wrapper-link">Перейти в каталог</a>
    </div>
  </div>
</div>

<div class="scroll-cards-new">
  <div class="container">
    <div class="scroll-cards-new__title">
      <div class="scroll-cards-new__title-text">Новинки</div>
      <a href="#" class="scroll-cards-new__title-link">Посмотреть все товары</a>
    </div>

    <div class="scroll-cards-new__wrapper">
      <div class="scroll-cards-new__wrapper-card">
        <div class="scroll-cards-new__wrapper-card-new">Новинка</div>
        <img class="scroll-cards-new__wrapper-card-disc-img" src="../assets/disc-image.png" alt="disc">
        <img class="scroll-cards-new__wrapper-card-heart-img" src="../assets/Vector.svg" alt="heart">
        <div class="scroll-cards-new__wrapper-card-product">Круг зачистной 125х6х22</div>
        <div class="scroll-cards-new__wrapper-card-articul">Артикул 00004</div>
        <div class="scroll-cards-new__wrapper-card-price-title">Цена за штуку</div>
        <div class="scroll-cards-new__wrapper-card-price">
          <span class="new-price">52 руб.</span>
        </div>
        <div class="scroll-cards-new__wrapper-card-cart-wrapper">
          <div class="scroll-cards-new__wrapper-card-cart-wrapper-quantity-block">
            <div class="quantity">Количество</div>
            <span class="minus-button">-</span>
            <span class="quantity-number">1</span>
            <span class="plus-button">+</span>
          </div>
          <button class="scroll-cards-new__wrapper-card-cart-wrapper-cart-btn">В корзину</button>
        </div>
      </div>
      <div class="scroll-cards-new__wrapper-card">
        <div class="scroll-cards-new__wrapper-card-new">Новинка</div>
        <img class="scroll-cards-new__wrapper-card-disc-img" src="../assets/disc-image.png" alt="disc">
        <img class="scroll-cards-new__wrapper-card-heart-img" src="../assets/Vector.svg" alt="heart">
        <div class="scroll-cards-new__wrapper-card-product">Круг зачистной 125х6х22</div>
        <div class="scroll-cards-new__wrapper-card-articul">Артикул 00004</div>
        <div class="scroll-cards-new__wrapper-card-price-title">Цена за штуку</div>
        <div class="scroll-cards-new__wrapper-card-price">
          <span class="new-price">52 руб.</span>
        </div>
        <div class="scroll-cards-new__wrapper-card-cart-wrapper">
          <div class="scroll-cards-new__wrapper-card-cart-wrapper-quantity-block">
            <div class="quantity">Количество</div>
            <span class="minus-button">-</span>
            <span class="quantity-number">1</span>
            <span class="plus-button">+</span>
          </div>
          <button class="scroll-cards-new__wrapper-card-cart-wrapper-cart-btn">В корзину</button>
        </div>
      </div>
      <div class="scroll-cards-new__wrapper-card">
        <div class="scroll-cards-new__wrapper-card-new">Новинка</div>
        <img class="scroll-cards-new__wrapper-card-disc-img" src="../assets/disc-image.png" alt="disc">
        <img class="scroll-cards-new__wrapper-card-heart-img" src="../assets/Vector.svg" alt="heart">
        <div class="scroll-cards-new__wrapper-card-product">Круг зачистной 125х6х22</div>
        <div class="scroll-cards-new__wrapper-card-articul">Артикул 00004</div>
        <div class="scroll-cards-new__wrapper-card-price-title">Цена за штуку</div>
        <div class="scroll-cards-new__wrapper-card-price">
          <span class="new-price">52 руб.</span>
        </div>
        <div class="scroll-cards-new__wrapper-card-cart-wrapper">
          <div class="scroll-cards-new__wrapper-card-cart-wrapper-quantity-block">
            <div class="quantity">Количество</div>
            <span class="minus-button">-</span>
            <span class="quantity-number">1</span>
            <span class="plus-button">+</span>
          </div>
          <button class="scroll-cards-new__wrapper-card-cart-wrapper-cart-btn">В корзину</button>
        </div>
      </div>
      <div class="scroll-cards-new__wrapper-card">
        <div class="scroll-cards-new__wrapper-card-new">Новинка</div>
        <img class="scroll-cards-new__wrapper-card-disc-img" src="../assets/disc-image.png" alt="disc">
        <img class="scroll-cards-new__wrapper-card-heart-img" src="../assets/Vector.svg" alt="heart">
        <div class="scroll-cards-new__wrapper-card-product">Круг зачистной 125х6х22</div>
        <div class="scroll-cards-new__wrapper-card-articul">Артикул 00004</div>
        <div class="scroll-cards-new__wrapper-card-price-title">Цена за штуку</div>
        <div class="scroll-cards-new__wrapper-card-price">
          <span class="new-price">52 руб.</span>
        </div>
        <div class="scroll-cards-new__wrapper-card-cart-wrapper">
          <div class="scroll-cards-new__wrapper-card-cart-wrapper-quantity-block">
            <div class="quantity">Количество</div>
            <span class="minus-button">-</span>
            <span class="quantity-number">1</span>
            <span class="plus-button">+</span>
          </div>
          <button class="scroll-cards-new__wrapper-card-cart-wrapper-cart-btn">В корзину</button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="footer-top">
      <div class="footer-contacts-block">
        <div class="footer-logo">
          <img src="../assets/Frame.svg" alt="logo">
        </div>
        <div class="footer-contacts-wrapper">
          <div class="footer-contacts-call">
            <div class="call-icon">
              <img src="../assets/footer-call.svg" alt="call">
            </div>
            <div class="footer-call-number">
              <div class="call-number-title">Контактный телефон</div>
              <span>+ 7 (812) 309-09-34</span>
              + 7 (965) 084-29-09
            </div>
          </div>
          <div class="footer-contacts-email">
            <div class="email-icon">
              <img src="../assets/footer-email.svg" alt="email">
            </div>
            <div class="call-email">
              <div class="call-email-title">Электронная почта</div>
              <span>tustin78&#64;mail.ru</span>
              info&#64;tustin.ru
            </div>
          </div>        
        </div>
      </div>

      <div class="footer-email-block">
        <div class="footer-email-title">Остались вопросы?</div>
        <div class="footer-email-text">
          Узнавайте первым о скидках, предложениях и событиях еженедельно в <br>
          своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.
        </div>
        <form class="footer__form-wrapper">
          <img src="../assets/small-email.svg" alt="mail-icon" class="footer__input-icon">
          <input type="email" placeholder="Введите свою почту" class="footer__input">
          <button type="submit" class="footer__email-submit">Отправить</button>
        </form>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__bottom-left">
        <nav class="footer__nav">
          <ul>
            <li class="footer__nav-item">
              <a href="#">Главная</a>
            </li>
            <li class="footer__nav-item">
              <a href="#">О компании</a>
            </li>
            <li class="footer__nav-item">
              <a href="#">Каталог</a>
            </li>
          </ul>
        </nav>
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a href="#">
              <img src="../assets/fb-icon.svg" alt="facebook">
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#">
              <img src="../assets/youtube-icon.svg" alt="youtube">
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#">
              <img src="../assets/whats-app-icon.svg" alt="whats app">
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__bottom-right">
        <div class="footer__bottom-right-text">© 2021-2022, EDE</div>
      </div>
    </div>
  </div>
</footer>